/*
  The CSS in this file is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/*
  The colours in this file are from the colour https://stephango.com/flexoki
  License MIT: https://github.com/kepano/flexoki/blob/main/LICENSE
 */

:root {
	--flexoki-black: #100f0f;
	--flexoki-paper: #fffcf0;

	--flexoki-950: #1c1b1a;
	--flexoki-900: #282726;
	--flexoki-850: #343331;
	--flexoki-800: #403e3c;
	--flexoki-700: #575653;
	--flexoki-600: #6f6e69;
	--flexoki-500: #878580;
	--flexoki-300: #b7b5ac;
	--flexoki-200: #cecdc3;
	--flexoki-150: #dad8ce;
	--flexoki-100: #e6e4d9;
	--flexoki-50: #f2f0e5;

	--flexoki-red-600: #af3029;
	--flexoki-red-400: #d14d41;

	--flexoki-orange-600: #bc5215;
	--flexoki-orange-400: #da702c;

	--flexoki-yellow-900: #4d3a0b;
	--flexoki-yellow-600: #ad8301;
	--flexoki-yellow-400: #d0a215;
	--flexoki-yellow-100: #fceeb8;

	--flexoki-green-600: #66800b;
	--flexoki-green-400: #879a39;

	--flexoki-cyan-950: #142625;
	--flexoki-cyan-600: #24837b;
	--flexoki-cyan-400: #3aa99f;
	--flexoki-cyan-50: #ebf2e7;

	--flexoki-blue-600: #205ea6;
	--flexoki-blue-400: #4385be;

	--flexoki-purple-600: #5e409d;
	--flexoki-purple-400: #8b7ec8;

	--flexoki-magenta-600: #a02f6f;
	--flexoki-magenta-400: #ce5d97;

	--background-body: var(--flexoki-paper);
	--text-main: var(--flexoki-black);
	--text-secondary: var(--flexoki-850);
	--primary-color: var(--flexoki-red-600);
	--link-main: var(--flexoki-cyan-600);

	--gray-gradient: rgba(var(--gray-light), 50%), var(--flexoki-paper);
	--box-shadow: 0 2px 6px rgba(var(--flexoki-850), 25%), 0 8px 24px rgba(var(--flexoki-850), 33%),
		0 16px 32px rgba(var(--flexoki-850), 33%);
}

:root.theme-dark {
	--background-body: var(--flexoki-black);
	--text-main: var(--flexoki-paper);
	--text-secondary: var(--flexoki-600);
	--primary-color: var(--flexoki-red-400);
	--link-main: var(--flexoki-cyan-400);
}

* {
	box-sizing: border-box;
	min-width: 0;
}

::selection {
	background-color: #ff0;
	color: var(--flexoki-black);
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background-body);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-main);
	font-size: 18px;
	font-size: 1.8rem;
	word-spacing: 1px;
	font-weight: 300;
	line-height: 1.625;
	min-height: 100dvh;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text-main);
	line-height: 1.2;
	font-weight: 300;
	text-wrap: balance;
	margin: 0 0 12px;
	margin: 0 0 1.2rem;
}

.title h1 {
	font-size: 24px;
	font-size: 2.4rem;
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
}

h2 {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
}

h3 {
	font-size: 25px;
	font-size: 2.5rem;
	margin: 0 0 2rem;
}

h4 {
	font-size: 13px;
	font-size: 1.3rem;
	text-transform: uppercase;
	margin: 0 0 12px;
	margin: 0 0 1.2rem;
	font-weight: bold;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--link-main);
}

a:hover {
	color: var(--link-main);
}

p {
	margin: 0 0 16px;
	margin: 0 0 1.6rem;
	padding: 0;
	text-wrap: pretty;
}

p:has(+ p) {
	margin: 0 0 8px;
	margin: 0 0 0.8rem;
}

/* .prose p {
	margin-bottom: 2em;
} */

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

.date {
	font-size: 12px;
	font-size: 1.2rem;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--text-secondary);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--primary-color);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--text-secondary));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.theme-toggle {
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 0.67em;
	margin-left: 10px;
	gap: 0.6em;
	border-radius: 99em;
	background-color: var(--background-body);
}

.theme-toggle > label:focus-within {
	outline: 2px solid transparent;
	box-shadow:
		0 0 0 0.08em var(--primary-color),
		0 0 0 0.12em var(--flexoki-paper);
}

.theme-toggle > label {
	color: var(--text-main);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	cursor: pointer;
}

.theme-toggle .checked {
	color: var(--primary-color);
	opacity: 1;
}

input[name='theme-toggle'] {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
