vg-pink = #ff4400ff // Red Orange Color Wheel
vg-green = #256539ff // Cadmium Green
vg-blue = #131c4eff // Space Cadet
vg-white = #fefefeff
vg-grey = #c7cadbff // Light Periwinkle
vg-black = #000000ff
vg-font = sans-serif

base-font-size = 1rem
font-xs = base-font-size * 0.5
font-s = base-font-size * 0.75
font-m = base-font-size
font-l = base-font-size * 1.5
font-xl = base-font-size * 2


base-line-height = 1.5rem

*:focus
  outline 0.0625em solid vg-blue

*,
body,
html
  box-sizing border-box

body,
html
  background-color vg-white
  color vg-black
  font-family vg-font
  height 100%
  margin 0

  @media (prefers-color-scheme: dark)
    background-color vg-black
    color vg-white
    font-weight lighter

body
  line-height 1.5
  padding 1em
  display flex
  flex-direction column
  font-size base-font-size
  line-height base-line-height

main
  flex 1 0 auto
  padding 2em 1em

footer
  flex-shrink 0
  padding 2em
  padding-bottom 0
  line-height 1rem

header,
footer
  text-align center

h2
  margin-top 1em
  padding-top 1em

article
  header
    text-align left

    @media (max-width: 640px)
      text-align center

body
  > section
    max-width 50em
    margin 2em auto 6em

    @media (max-width: 640px)
      margin-bottom 2em


a
  color vg-black

  @media (prefers-color-scheme: dark)
    color lighten(vg-white, 50%)

a:focus,
a:hover
  color vg-blue

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

.hidden
  @media screen
    position absolute
    top auto
    left -999em
    width 1px
    height 1px
    white-space nowrap
    overflow hidden


.hello 
  font-size font-m
  width 20em
  border-radius 1em
  border-bottom solid 1em vg-pink
  text-align center
  box-shadow 0 0 1em rgba(0, 0, 0, .3)
  margin 2em auto
  transform rotate(-2deg)

  .top 
    border-radius 1em 1em 0 0
    background vg-pink
    color vg-white
    padding .3em 0 .6em

    div 
      font-weight bold
      font-size 2em
      line-height 1em
      text-transform uppercase

  .name 
    font-size font-xl
    color vg-black
    background-color vg-white
    padding 1.2em 0

#logo
  width 400px
  height 200px
  display block
  margin 1rem auto 0

  @media (max-width: 400px)
    width 200px
    height 100px

  picture 
    width 100%
    height 100%
    display flex
    
    img
      object-fit cover
      height auto
      width 100%
      
      @media (prefers-color-scheme: dark)
        filter: invert(1);
  
ul
  margin 0
  padding 0
  
nav 
  ul
    list-style none

    li
      display inline-block
      position relative
      font-size font-l
      margin 0 0.25rem

      @media (max-width: 400px)
        font-size font-m
        margin 0 0 0.15rem


    > a
      @media print
        display none

.blog
  max-width 35em
  margin auto
  
  ul
    list-style none
    text-align left

h1
  text-align center

article
  max-width 35em
  margin auto

table
  border-collapse collapse
  border 1px solid vg-black

  @media (prefers-color-scheme: dark)
    border-color vg-white

table th,
table td
  border 1px solid vg-black
  padding 0.25em

  @media (prefers-color-scheme: dark)
    border-color vg-white

pre
  font-family monospace
  line-height 140%
  white-space pre
  padding-left 1em
  overflow-x: auto

code
  font-family  monospace
  line-height 140%
  white-space pre
  font-size 110%
  padding 0.0625em 0.125em 0

  @media (prefers-color-scheme: dark)
    color vg-white

blockquote
  padding-left 1em
  border-left 0.2em solid vg-green
  font-family serif
  font-style italic
