vg-pink = #ff4400ff // Red Orange Color Wheel
vg-green = #256539ff // Cadmium Green
vg-dark-green = #112D19ff // Phtalo Green
vg-blue = #131c4eff // Space Cadet
vg-white = #fef8ecff // Floral White
vg-grey = #c7cadbff // Light Periwinkle
vg-black = #0a0a0aff // Rich Black FOGRA 39
vg-font = sans-serif

base-font-size = 1rem
font-xs = base-font-size * 0.5
font-s = base-font-size * 0.75
font-m = base-font-size
font-l = base-font-size * 1.5
font-xl = base-font-size * 2


base-line-height = 1.5rem

*:focus
  outline 0.0625em solid vg-blue

*,
body,
html
  box-sizing border-box

body,
html
  background-color vg-white
  color vg-blue
  font-family vg-font
  height 100%
  margin 0

  @media (prefers-color-scheme: dark)
    background-color vg-blue
    color vg-white
    font-weight lighter

body
  line-height 1.5
  padding 1em
  display flex
  flex-direction column
  font-size base-font-size
  line-height base-line-height

main
  flex 1 0 auto
  padding 2em 1em

footer
  flex-shrink 0
  padding 2em
  padding-bottom 0
  line-height 1rem

header,
footer
  text-align center

h2
  margin-top 1em
  padding-top 1em

article
  header
    text-align left

    @media (max-width: 640px)
      text-align center

body
  > section
    max-width 50em
    margin 2em auto 6em

    @media (max-width: 640px)
      margin-bottom 2em


a
  color vg-green

  @media print
    color vg-black

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

a:focus,
a:hover
  color vg-dark-green

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

a:visited
  color vg-green

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

.hidden
  @media screen
    position absolute
    top auto
    left -999em
    width 1px
    height 1px
    white-space nowrap
    overflow hidden


.hello 
  font-size font-m
  width 20em
  border-radius 1em
  border-bottom solid 1em vg-pink
  text-align center
  box-shadow 0 0 1em rgba(0, 0, 0, .3)
  margin 2em auto
  transform rotate(-2deg)

  .top 
    border-radius 1em 1em 0 0
    background vg-pink
    color vg-white
    padding .3em 0 .6em

    div 
      font-weight bold
      font-size 2em
      line-height 1em
      text-transform uppercase

  .name 
    font-size font-xl
    color vg-black
    background-color vg-white
    padding 1.2em 0


#logo
  width 20em
  height 20em
  
  :hover
    animation logoGlitch 1s linear infinite
    fill vg-pink

  @media print
    display none

  @media (max-width: 640px)
    width 10em
    height 10em

  @media (prefers-color-scheme: dark)
    fill vg-white

  @keyframes logoGlitch {
    2%,64%{
      transform: translate(2px,0) skew(0deg)
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg)
    }
    62%{
      transform: translate(0,0) skew(5deg) 
    }
  }

#logo-hidden
  display none

  :hover
    animation glitch 1s linear infinite

  @media (max-width: 640px)
    width 160px
    height 160px

#logo:hover
  fill vg-pink


#home:hover,
#home:focus
  background-color transparent

ul
  margin 0
  padding 0
  
nav 
  ul
    list-style none

    li
      display inline-block
      position relative
      font-size font-l
      margin 0 0.25rem


    > a
      @media print
        display none

.blog
  ul
    list-style none
    text-align left

h1
  text-align center

article
  max-width 35em
  margin auto

table
  border-collapse collapse
  border 1px solid vg-black
  
  @media (prefers-color-scheme: dark)
    border-color vg-white

table th,
table td
  border 1px solid vg-black
  padding 0.25em

  @media (prefers-color-scheme: dark)
    border-color vg-white

pre
  font-family monospace
  line-height 140%
  white-space pre
  padding-left 1em
  overflow-x: auto

code
  font-family  monospace
  line-height 140%
  white-space pre
  font-size 110%
  padding 0.0625em 0.125em 0

  @media (prefers-color-scheme: dark)
    color vg-white

blockquote
  padding-left 1em
  border-left 0.2em solid vg-green
  font-family serif
  font-style italic


.glitch
  
  &--active,
  &:hover
    animation glitch linear infinite

    &:before,
    &:after
      content attr(title)
      position absolute
      left 0
      top 0

    &:before
      animation: glitchTop linear infinite
      clip-path polygon(0 0, 100% 0, 100% 33%, 0 33%)
      -webkit-clip-path polygon(0 0, 100% 0, 100% 33%, 0 33%)

    &:after
      animation: glitchBottom linear infinite
      clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%)
      -webkit-clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%)


  &--1,
  &--1:before,
  &--1:after,
  &--1:hover
      animation-duration 2s

  &--2,
  &--2:before,
  &--2:after,
  &--2:hover
    animation-duration .5s

  &--3,
  &--3:before,
  &--3:after,
  &--3:hover
    animation-duration .3s

  &--4,
  &--4:before,
  &--4:after,
  &--4:hover
    animation-duration .6s

  &--5,
  &--5:before,
  &--5:after,
  &--5:hover
    animation-duration 1s

  @keyframes glitch{
    72%,84%{
    transform: translate(2px,0) skew(0deg)
    }
    74%,80%{
      transform: translate(-2px,0) skew(0deg)
    }
    82%{
      transform: translate(0,0) skew(5deg) 
    }
  }

  @keyframes glitchTop{
    72%,84%{
      transform: translate(2px,-2px)
    }
    74%,80%{
      transform: translate(-2px,2px)
    }
    82%{
      transform: translate(13px,-1px) skew(-13deg) 
    }
  }
  
  @keyframes glitchBottom{
    72%,84%{
      transform: translate(-2px,0)
    }
    74%,80%{
      transform: translate(-2px,0)
    }
    82%{
      transform: translate(-22px,5px) skew(21deg) 
    }
  }
