vg-pink = #ff4400ff // Red Orange Color Wheel
vg-green = #256539ff // Cadmium Green
vg-dark-green = #112D19ff // Phtalo Green
vg-blue = #131c4eff // Space Cadet
vg-white = #fef8ecff // Floral White
vg-grey = #c7cadbff // Light Periwinkle
vg-black = #0a0a0aff // Rich Black FOGRA 39
vg-font = sans-serif

base-font-size = 2.4em
base-line-height = 1.5em

*:focus
  outline 0.0625em solid vg-blue

*,
body,
html
  box-sizing border-box

body,
html
  background-color vg-white
  color vg-blue
  font-family vg-font
  height 100%
  margin 0

  @media (prefers-color-scheme: dark)
    background-color vg-blue
    color vg-white
    font-weight lighter

body
  line-height 1.5
  padding 1em
  display flex
  flex-direction column

main
  flex 1 0 auto
  padding 2em 1em

footer
  flex-shrink 0
  padding 2em
  padding-bottom 0

header,
footer
  text-align center

h2
  margin-top 1em
  padding-top 1em

article
  header
    text-align left

    @media (max-width: 640px)
      text-align center

body
  > section
    max-width 50em
    margin 2em auto 6em

    @media (max-width: 640px)
      margin-bottom 2em


a
  color vg-green

  @media print
    color vg-black

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

a:focus,
a:hover
  color vg-dark-green

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

a:visited
  color vg-green

  @media (prefers-color-scheme: dark)
    color lighten(vg-green, 50%)

.hidden
  @media screen
    position absolute
    top auto
    left -999em
    width 1px
    height 1px
    white-space nowrap
    overflow hidden

#logo
  width 20em
  height 20em

  @media print
    display none

  @media (max-width: 640px)
    width 10em
    height 10em

  @media (prefers-color-scheme: dark)
    fill vg-white


#logo-hidden
  display none

  @media (max-width: 640px)
    width 160px
    height 160px

#logo:hover
  fill vg-pink


#home:hover,
#home:focus
  background-color transparent

ul
  margin 0
  padding 0
  
nav 
  ul
    list-style none

    li
      display inline-block

  > a
    @media print
      display none

.blog
  ul
    list-style none
    text-align center

h1
  text-align center

article
  max-width 35em
  margin auto

table
  border-collapse collapse
  border 1px solid vg-black
  
  @media (prefers-color-scheme: dark)
    border-color vg-white

table th,
table td
  border 1px solid vg-black
  padding 0.25em

  @media (prefers-color-scheme: dark)
    border-color vg-white

pre
  font-family monospace
  line-height 140%
  white-space pre
  padding-left 1em
  overflow-x: auto;

code
  font-family  monospace
  line-height 140%
  white-space pre
  font-size 110%
  padding 0.0625em 0.125em 0

  @media (prefers-color-scheme: dark)
    color vg-white

blockquote
  padding-left 1em
  border-left 0.2em solid vg-green
  font-family serif
  font-style italic
