---
const today = new Date();
---

<footer>
	<p>HELLO my name is vegetalope.</p>
	<p>I don’t have anything to sell. Care about <a href="/movies">movies</a> or <a href="/tv-shows">TV shows</a>?</p>
	<p><sub><sup>No tracking, no cookies.</sup></sub></p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
