---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { Image } from '@astrojs/image/components';

import logoImage from '../images/vegetalope.webp';
---

<header>
	<nav>
		<ul>
			<li>
				<HeaderLink href="/" title="Home">Home</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/blog" title="Blog">Blog</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/about" title="About">About</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://twitter.com/vegetalope" target="_blank" title="Twitter">Twitter</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://github.com/brnrd" target="_blank" title="GitHub">GitHub</HeaderLink>
			</li>
		</ul>
	</nav>

	<a id="home" href="/">
		<Image src={logoImage} height={200} width={400} alt="vegetalope written with a black Sharpie on white paper" />
	</a>
</header>
