---
import HeaderLink from './HeaderLink.astro'
import ThemeToggle from './ThemeToggle.svelte'
import { SITE_TITLE } from '../consts'
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="social-links">
			<a href="https://moments.vegetalope.com">Moment Tracker</a>
			<div class="theme-toggle-container">
				<Fragment>
					<ThemeToggle client:only="svelte" />
				</Fragment>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		padding: 0 1em;
		background: var(--background-body);
		box-shadow: 0 2px 8px rgba(var(--ink-black), 5%);
	}

	@media (max-width: 720px) {
		header {
			margin-top: 1em;
		}
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0em;
		color: var(--text-main);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--flexoki-red-600);
	}

	nav h2 {
		padding: 0;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	.theme-toggle-container {
		width: 75px;
	}
</style>
