---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<a id="home" href="/">
		<svg
			id="logo"
			alt="vegetalope logo"
			title="vegetalope logo, looks like a inverted triangle but really is a capital V"
		>
			<title>vegetalope logo, looks like a inverted triangle but really is a capital V</title>
			<use xlink:href="#vegetalope-logo" />
		</svg>
	</a>
	<nav>
		<ul>
			<li>
				<HeaderLink href="/">Home</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/blog">Blog</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/about">About</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://twitter.com/vegetalope" target="_blank">Twitter</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://github.com/brnrd" target="_blank">GitHub</HeaderLink>
			</li>
		</ul>
	</nav>

	<!-- Logo SVG trick: https://css-tricks.com/change-color-of-svg-on-hover/#article-header-id-1 -->
	<svg
		id="logo-hidden"
		version="1.1"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		preserveaspectratio="xMidYMid meet"
	>
		<symbol id="vegetalope-logo" viewbox="0 0 640 640">
			<path
				id="a33aR4SSJs"
				d="M320 558L488 93.81L217 93.81L217 113L461 113L320 500.95L172.38 93.81L150.95 93.81L320 558Z"
			/>
		</symbol>
	</svg>
</header>
