---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { Picture } from '@astrojs/image/components';

import logoImage from '../images/vegetalope-transparent.png';
---

<header>
	<nav>
		<ul>
			<li>
				<HeaderLink href="/" title="Home">Home</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/blog" title="Blog">Blog</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/about" title="About">About</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://github.com/brnrd" target="_blank" title="GitHub">GitHub</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://twitter.com/vegetalope" target="_blank" title="Twitter">Twitter</HeaderLink>
			</li>
			<li>
				<HeaderLink href="https://www.linkedin.com/in/bernarddebecker/" target="_blank" title="LinkedIn">LinkedIn</HeaderLink>
			</li>
		</ul>
		<a id="logo" href="/">
			<Picture 
				src={logoImage} 
				aspectRatio="1805:887" 
				fit="contain" 
				formats={['webp', 'avif']} 
				widths={[100, 200, 400, 800]} 
				alt="vegetalope written with a black Sharpie on white paper" 
			/>
		</a>
	</nav>

</header>
